@using BELibrary.Core.Utils
@using BELibrary.Entity
@using HospitalManagement.Areas.Admin.Authorization
@model LocationRecord
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var Location = (Location)ViewBag.Location ?? new Location();
    var record = (Record)ViewBag.Record ?? new Record();
    var mainDetailRecords = (DetailRecord)ViewBag.MainDetailRecords ?? new DetailRecord();
    var detailRecords = (List<DetailRecord>)ViewBag.DetailRecords ?? new List<DetailRecord>();

    var result = record.Result;
    var note = record.Note;

    var user = CookiesManage.GetUser();
}

@section CSS{
    <style>
        .td-center {
            text-align: right;
            vertical-align: middle !important;
        }
    </style>
    <!--DataTables [ OPTIONAL ]-->
    <link href="/Areas/Admin/Content/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/Areas/Admin/Content/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css" rel="stylesheet">
}
<style>
    .select2-container {
        z-index: 99999;
        width: 100% !important;
    }

    .doctor-thumb .select2-container {
        z-index: 222;
        width: 100% !important;
    }
</style>
<div class="panel">
    <div class="panel-body">
        <div class="fixed-fluid">
            <div class="fixed-md-200 pull-sm-left fixed-right-border">

                <!-- Simple profile -->
                <div class="text-center">
                    <div class="pad-ver">
                        <img src="~/Areas/Admin/Content/img/profile-photos/1.png" class="img-lg img-circle" alt="Profile Picture">
                    </div>
                    <h4 class="text-lg text-overflow mar-no">@Location.FullName</h4>
                    <p class="text-sm text-muted">@Location.Job</p>

                    <a class="btn btn-block btn-success btn-lg" href="/admin/Location/update?id=@Location.Id">Xem chi tiết</a>
                </div>
                <hr>

                <!-- Profile Details -->
                <p class="pad-ver text-main text-sm text-uppercase text-bold">Thông tin</p>
                <p><i class="demo-pli-coding icon-lg icon-fw"></i>   <label class="label label-success" style="font-size: 12px;">@Location.PatientCode</label> </p>
                <p><i class="demo-pli-map-marker-2 icon-lg icon-fw"></i> @Location.Address</p>
                <p><a href="#" class="btn-link"><i class="demo-pli-tag-5 icon-lg icon-fw"></i> @Location.DateOfBirth.ToString("dd/MM/yyyy")</a></p>
                <p><i class="demo-pli-old-telephone icon-lg icon-fw"></i>@Location.Phone</p>
                <div class="text-center">
                    <button class="btn btn-sm btn-success" onclick="saveRecord()">Lưu thông tin</button>
                </div>
            </div>
            <div class="fluid">
                <div class="fixed-fluid">
                    <div class="fixed-sm-300 pull-sm-right">
                        <form id="form-record">
                            <div class="panel">
                                <div class="panel-body">
                                    <p class="text-main text-bold text-uppercase">Người điều hành</p>
                                    @if (user.Role == RoleKey.Director)
                                    {
                                        <input type="hidden" value="@record.Id" name="Id" />
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-sm-12 doctor-thumb">
                                                    <input class="form-control" value="Bạn" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="hidden" value="@record.Id" name="Id" />
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-sm-12 doctor-thumb">
                                                    @Html.DropDownList("DirectorId", (SelectList)ViewBag.Directors, "Chọn",
                                                        new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="fluid">

                        <div class="panel">

                            <!--Panel heading-->
                            <div class="panel-heading">
                                <div class="panel-control">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#demo-tabs-box-1" data-toggle="tab" aria-expanded="true">Chi Tiết</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--Panel body-->
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="demo-tabs-box-1">
                                        <div class="form-group text-center">
                                            <h3> Địa Điểm: @Location.FullName</h3>
                                        </div>
                                        <div class="panel" style="border: 1px solid;">
                                            <div class="panel-heading">
                                                <div class="panel-control">
                                                    <ul class="pager">
                                                        <li><a href="/admin/LocationRecord/update?id=@Model.Id">Sửa</a></li>
                                                        <li><a href="javascript:void(0)" onclick="openRedirect(false, '@mainDetailRecords.Id')">Thêm Lễ Hội</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- BASIC FORM ELEMENTS -->
                                            <!--===================================================-->
                                            <div class="panel-body form-horizontal form-padding">
                                                <h3 class="panel-title">I. Thông tin chính:</h3>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Tiêu đề:</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Title,
                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "" } })
                                                    </div>
                                                </div>

                                                <!--Text Input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Tên Địa Điểm:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static">
                                                            <span class="badge badge-success" id="Location-code">
                                                                @Location.PatientCode
                                                            </span>
                                                            -
                                                            <span id="Location-name">
                                                                @Location.FullName
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Ngày thành lập:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static">
                                                            <span id="Location-date-of-birth"></span>
                                                            @Location.DateOfBirth.ToString("dd/MM/yyyy")
                                                            <span id="Location-age">
                                                                @(DateTime.Now.Year - Location.DateOfBirth.Year) Tuổi
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Địa chỉ:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static" id="Location-address">
                                                            @Location.Address
                                                        </p>
                                                    </div>
                                                </div>

                                                <h3 class="panel-title">II. Thông tin chi tiết:</h3>

                                                <!--Email Input-->
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-3 control-label">Ngày:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               disabled value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                                    </div>
                                                </div>

                                                <!--Password-->
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-3 control-label">Giờ:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               disabled value="@DateTime.Now.ToString("HH:mm ")">
                                                    </div>
                                                </div>

                                                <!--Readonly Input-->
                                                <div class="form-group col-md-4">
                                                    <label class="col-md-3 control-label">Hình Ảnh:</label>
                                                    <div class="input-group mar-btm">
                                                        @Html.EditorFor(model => model.ImageProfile, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                                                        <span class="input-group-btn" onclick="ChooseImgAvatar()">
                                                            <a class="btn btn-mint btn-icon"><i class="fa fa-cloud-upload icon-lg"></i></a>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="col-md-1 control-label"></label>
                                                    <div class="input-group mar-btm">
                                                        @Html.EditorFor(model => model.ImageProfile2, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                                                        <span class="input-group-btn" onclick="ChooseImgAvatar2()">
                                                            <a class="btn btn-mint btn-icon"><i class="fa fa-cloud-upload icon-lg"></i></a>
                                                        </span>
                                                    </div>
                                                </div>


                                                <div class="form-group col-md-4">
                                                    <label class="col-md-1 control-label"></label>
                                                    <div class="input-group mar-btm">
                                                        @Html.EditorFor(model => model.ImageProfile3, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                                                        <span class="input-group-btn" onclick="ChooseImgAvatar3()">
                                                            <a class="btn btn-mint btn-icon"><i class="fa fa-cloud-upload icon-lg"></i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    <hr style="width: 50%" />
                                                </div>

                                                <!--Thị lực-->
                                                <div class="form-group">

                                                    <label class="col-md-1 control-label"></label>
                                                    <div class="col-md-11">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">Chi Tiết</th>
                                                                    <th class="text-center">Nội Dung</th>
                                                                    <th class="text-center">Quản Lý</th>
                                                                    <th class="text-center">Thời Gian</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="td-center">Hoạt Động: </td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.Event2,
                                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                                    </td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.ForManage2,
                                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                                    </td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.ForDate2,
                                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = " a10/10" } })
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="td-center">Hoạt Động:</td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.Event,
                                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                                    </td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.ForManage,
                                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "10/10" } })
                                                                    </td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.ForDate,
                                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "10/10" } })
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Quá trình hình thành:</label>
                                                    <div class="col-md-9">
                                                        @Html.TextAreaFor(model => model.Formation, new { @class = "form-control", @readonly = true, @rows = "4", @placeholder = "...", @maxlength = 1000 })
                                                    </div>
                                                </div>

                                                <h3 class="panel-title">III. Thông tin khác:</h3>

                                                <!--Readonly Input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Lễ Hội - Sự Kiện:</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Activity,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "..." } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Lễ Hội - Sự Kiện:</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Activity2,
                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "..." } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Lễ Hội - Sự Kiện:</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Activity3,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "..." } })
                                                    </div>
                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- END BASIC FORM ELEMENTS -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <a class="btn btn-primary" href="@ViewBag.BaseUrl">Trở về</a>
    </div>
</div>

<!--Script-->
@section Scripts {

    <!--DataTables [ OPTIONAL ]-->
    <script src="/Areas/Admin/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#tblData').dataTable({
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    },
                    "search": "Tìm kiếm:",
                    "emptyTable": "Dữ liệu trống",
                    "zeroRecords": "Không tìm thấy bản nghi nào",
                    "decimal":        "",
                    "info":           "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty":      "Hiển thị 0 đến 0 của 0 bản ghi",
                    "infoFiltered":   "(filtered from _MAX_ total entries)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Hiển thị _MENU_ bản ghi",
                    "loadingRecords": "Đang tải...",
                    "processing":     "Đang xử lý...",
                    "aria": {
                        "sortAscending":  ": Kích hoạt để sắp xếp cột tăng",
                        "sortDescending": ": Kích hoạt để sắp xếp cột giảm"
                    }

                },
                order: [[3, 'desc']],
                columnDefs: [{
                    targets: [0,1,2,3]
                }]
            });

            $(".edit-modal").hide();
            $("#DirectorId").select2();
            const DirectorId = '@record.DirectorId';

            if (DirectorId && DirectorId !== '') {
                $("#DirectorId").val(DirectorId);
                $('#DirectorId').select2().trigger('change');
            }
            //

            $("#FacultyId").select2();
            $("#StatusRecord").val('@record.StatusRecord');
            $("#DetailDirectorId").select2();

        });

        //Get DoctorList

        $("#FacultyId").change(function() {
            $("#DetailDirectorId").prop("disabled", false);
            const id = $("#FacultyId").val();
            ajax.get(`/admin/director/GetDirectors`,
                { facultyId: id },
                (response) => {
                    if (response.status) {
                        const obj = response.data;
                        let html = "";
                        if (obj.length > 0) {
                            obj.forEach(x => {
                                html += `<option value="${x.Id}">${x.Name}</option>`;
                            });
                        } else {
                            $("#DetailDirectorId").prop("disabled", true);
                            html += `<option value="">Không có nào!</option>`;
                        }
                        $("#DetailDirectorId").html(html);
                    } else {
                        $("#DetailDirectorId").prop("disabled", true);
                        notify.push(response.mess, notify.EType.DANGER);
                    }
                },
                (jqXhr, textStatus) => {
                    const mess = `Request failed: ${textStatus}`;
                    notify.push(mess, notify.EType.DANGER);

                }
            );
        });

        $("#demo-allow-comments").change(function() {
            const isChecked = $("#demo-allow-comments").is(":checked");
            if (isChecked) {
                $("#status").text("Đã xong);
            } else {
                $("#status").text("Chờ ");
            }
        });

        const baseUrl = "/admin/record";
        // Valid
        const fields = {
            DiseaseName: {
                container: 'tooltip',
                validators: {
                    notEmpty: {
                        message: 'Tên không được để trống!'
                    }
                }
            }
        }

        validator.valid('modal-form',
            fields,
            (e) => {
                e.preventDefault();

                var formData = new FormData(document.getElementById('modal-form'));
                const isChecked = $("#demo-allow-comments").is(":checked");
                formData.set("Status", isChecked);
                ajax.createOrUpdate(`${baseUrl}/CreateOrEdit`,
                    formData,
                    (response) => {
                        if (response.status) {
                            notify.push(response.mess, notify.EType.SUCCESS);
                            notify.loading();
                            $('#data-modal').modal('hide');

                            const type = $('#type').val();
                            switch (type) {
                            case 1: //file
                                window.location.href = `/admin/Attachment?detailRecordId=${response.data.detailRecordId}`;
                                break;
                            case 2: //medical
                                window.location.href = `/admin/ItemSite?detailRecordId=${response.data.detailRecordId}`;
                                break;
                            case 0:
                                window.location.reload();
                                break;
                            default:
                                window.location.reload();
                            }

                        } else {
                            notify.push(response.mess, notify.EType.DANGER);
                            $(':input[type="submit"]').prop("disabled", false);
                        }
                    },
                    (jqXhr, textStatus) => {
                        const mess = `Request failed: ${textStatus}`;
                        notify.push(mess, notify.EType.DANGER);
                        $(':input[type="submit"]').prop("disabled", false);
                    }
                );
            });

        validator.valid('form-record',
            fields,
            (e) => {
                e.preventDefault();
                notify.loading();
                var formData = new FormData(document.getElementById('form-record'));
                ajax.createOrUpdate(`${baseUrl}/UpdateRecord`,
                    formData,
                    (response) => {
                        if (response.status) {
                            notify.push(response.mess, notify.EType.SUCCESS);
                            notify.done();
                        } else {
                            notify.push(response.mess, notify.EType.DANGER);
                            notify.done();
                            $(':input[type="submit"]').prop("disabled", false);
                        }
                    },
                    (jqXhr, textStatus) => {
                        const mess = `Request failed: ${textStatus}`;
                        notify.done();
                        notify.push(mess, notify.EType.DANGER);
                        $(':input[type="submit"]').prop("disabled", false);
                    }
                );
            });

        function saveRecord() {
            $("#form-record").submit();
        }

        function saveDetailRecord(type) {
            switch (type) {
            case 1:
                $("#type").val("1");
                break;
            case 2:
                $("#type").val("2");
                break;
            case 0:
                $("#type").val("0");
                break;
            default:
                $("#type").val("0");
            }
            $("#modal-form").submit();
        }

        function openRedirect(isFile,id) {
            if (isFile) {
                window.location.href = `/admin/Attachment?detailRecordId=${id}`;
            } else {
                window.location.href = `/admin/ItemSite?detailRecordId=${id}`;
            }
        }
        function assignItem(id) {
                window.location.href = `ItemSupply?locationId=${id}`;
        }

        //Edit
        function openModal(isEdit, id) {
            $('#modal-form')[0].reset();
            if (!isEdit) {
                $('#modal-form input[name="isEdit"]').val(false);
                $('#modal-form input[name="Id"]').val("");
                $('#data-modal').modal('show');

                return;
            }
            $(".edit-modal").show();
            ajax.get(`${baseUrl}/GetJson`,
                { id: id },
                (response) => {
                    if (response.status) {
                        const obj = response.data;
                        $('#modal-form input[name="Process"]').val(obj.Process);
                        $('#modal-form textarea[name="Note"]').val(obj.Note);
                        $('#modal-form textarea[name="Result"]').val(obj.Result);
                        $('#modal-form input[name="DiseaseName"]').val(obj.DiseaseName);
                        $("#FacultyId").val(obj.FacultyId);
                        $('#FacultyId').select2().trigger('change');
                        $("#DetailDirectorId").val(obj.DirectorId);
                        $('#DetailDirectorId').select2().trigger('change');
                        $('#modal-form input[name="Status"]').prop('checked', obj.Status);
                        if (obj.Status) {
                            $("#status").text("Đã xong");
                        } else {
                            $("#status").text("Chờ ");
                        }

                        $('#modal-form input[name="Id"]').val(obj.Id);
                        $('#modal-form input[name="isEdit"]').val(true);
                        $('#data-modal').modal('show');
                    } else {
                        notify.push(response.mess, notify.EType.DANGER);
                    }
                },
                (jqXhr, textStatus) => {
                    const mess = `Request failed: ${textStatus}`;
                    notify.push(mess, notify.EType.DANGER);
                }
            );
        }

        //Del
        function deleteElement(_id, name) {
            var mess = `Xác nhận <b>xóa</b> bản ghi <b>${name}</b>`;
            bootbox.confirm(mess,
                function(result) {
                    if (result) {
                        ajax.del(`${baseUrl}/del`,
                            { id: _id },
                            (response) => {
                                if (response.status) {
                                    notify.push(response.mess, notify.EType.SUCCESS);
                                    $(`#row_${_id}`).remove();
                                } else {
                                    notify.push(mess, notify.EType.DANGER);
                                }
                            },
                            (jqXhr, textStatus) => {
                                const mess = `Request failed: ${textStatus}`;
                                notify.push(mess, notify.EType.DANGER);

                            }
                        );
                    }
                });
        }
    </script>
}